h1 {text-align: center;}
#grama {margin-left: 32%;}
#filhote {margin-left: 32%;}
h2 {margin-left: 4%;}


h3 {color:coral;}

#filhote {margin-top: 1%;}
#filhote {width: 30%;}
#grama {width: 32%;}
#grama {margin-top: 1%;}

h3 {margin-top: 2%;}

body {background-color:bisque;}
